# Ignore the dataset
imagenet/
venv/
.idea/
**/*.hdf5
**/*.pickle
**/*.jpg
**/*.jpeg
**/*.png
**/*.pyc
src/__pycache__/
src/logs/
src/models/
data/prior_prob_smoothed.npy
data/prior_factor.npy
data/prior_probability.npy
image_names/
/test_imgs/bird/
src/images.pickle
_legacy/1_Deprecated version/trainer/data
*.pyc
