# Ignore the dataset
imagenet/
venv/
.idea/
**/*.hdf5
**/*.pickle
**/*.jpg
**/*.jpeg
**/*.pyc
**/*.gz
**/*.pdf
**/*.out
**/*.log
**/*.aux
**/*.synctex.gz
src/__pycache__/
src/logs/
src/models/
data/
image_names/
/test_images/bird/
_legacy/1_Deprecated version/src/output_images
output_images/
test_images/
src/images.pickle
